/* общие стили */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* основной цвет текста  #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* синий цвет лого и акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* фон футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --header-footer-background-color: #2f303a;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

/* сброс стилей */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* logo */

.logo {
  color: #000000;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}

.logo .accent {
  color: var(--accent-color);
}

/* hero */

.hero {
  text-align: center;

  background-color: var(--header-footer-background-color);
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* features */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features .title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .desc {
  color: var(--secondary-text-color);
}

.section .desc {
  color: var(--secondary-text-color);
}

/* specialization */
.specialization {
  padding-top: 0;
}

/* team */

.team {
  background-color: var(--secondary-background-color);
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section .position {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
}
/* акцент */

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* footer */

.footer {
  background-color: var(--header-footer-background-color);
}

.footer .adress {
  color: var(--primary-background-color);
}

.footer-link {
  color: rgba(255, 255, 255, 60);
}

.footer-logo {
  color: var(--primary-background-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo .accent {
  color: var(--accent-color);
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border: 1px solid transparent;

  color: var(--primary-background-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Портфолио */

.button-secondary {
  display: inline-block;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;

  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.projects .nav {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.projects .title {
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
